section h2,
footer h2 {
    font-family: 'Gilroy-Bold';
    font-size: 34px;
    line-height: 42px;
    text-align: center;
    color: #070707;
    margin: 0;
}

p {
    font-family: 'Gilroy-Medium';
    font-size: 18px;
    line-height: 22px;
    color: #070707;
    margin: 0;
    text-align: center;
}

/*Navigation*/
nav {
    max-width: 940px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 33px 0 32px 0;
    border-bottom: 1px solid #828282;
}

nav a {
    font-family: 'Gilroy-Bold';
    font-size: 18px;
    line-height: 22px;
    color: #828282;
    text-decoration: none;
    font-weight: bold;
}

nav a.active {
    color: #070707;
}

nav .rueng {
    display: none;
}

/*Header*/

header {
    max-width: 940px;
    margin: auto;
    padding-bottom: 104px;
}

header .text {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 40px 0 34px 0;
}

header h2 {
    font-family: 'Gilroy-Bold';
    font-size: 47.3392px;
    line-height: 59px;
    color: #070707;
    margin: 0;
}

.rueng {
    font-family: 'Gilroy-Bold';
    font-size: 16px;
    line-height: 20px;
    color: #828282;
    transform: rotate(180deg);
    writing-mode: vertical-lr;
    font-weight: bold;
}

.rueng span {
    color: #070707;
}

header .photo {
    height: 387px;
}

.photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center 43%;
}

/*About me*/
section.about {
    text-align: center;
    background-color: #F6F6F6;
    padding-top: 120px;
    padding-bottom: 107px;
}

section.about p {
    margin-top: 38px;
}

/*Skills*/
section.skills {
    max-width: 940px;
    margin: auto;
    padding-top: 91px;
    padding-bottom: 110px;
}

.skills h2 {
    margin-bottom: 69px;
}

.skillslist {
    display: flex;
    justify-content: space-between;
    margin-top: 84px;
}

.skill p {
    line-height: 17px;
    color: #828282;
    font-weight: bold;
}

.skill {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 41px;
}

.stars img {
    margin: 0 4.5px;
}

/*Portfolio*/
.portfolio {
    background-color: #F6F6F6;
    padding-top: 113px;
    padding-bottom: 96px;
}

.site {
    max-width: 940px;
    margin: auto;
    margin-top: 99px;
}

.site.first {
    margin-top: 47px;
}

.site p {
    text-decoration-line: underline;
}

footer {
    text-align: center;
    padding-top: 114px;
    padding-bottom: 123px;
}

.like {
    font-family: 'Gilroy-Medium';
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #828282;
}

footer button {
    background-color: #070707;
    color: #FFFFFF;
    font-family: 'Gilroy-Bold';
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    font-weight: bold;
    padding: 10px 29px;
    border-radius: 50px;
    margin-top: 30px;
    margin-bottom: 86px;
}

footer .icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 342px;
    margin: auto;
    margin-bottom: 45px;
}

#check {
    display: none;
}

#label {
    display: none;
}

@media screen and (max-width: 390px) {
    nav {
        display: none;
        flex-direction: column;
        align-items: flex-start;
        gap: 67px;
    }

    nav .rueng {
        display: block;
        align-self: flex-end;
        font-size: 34px;
        line-height: 42px;
    }

    nav a {
        font-size: 34px;
        line-height: 42px;
    }

    #label {
        display: initial;
        width: 30px;
        height: 30px;
        position: absolute;
        top: 68px;
        right: 30px;
    }

    #label span,
    #label span::before,
    #label span::after {
        display: block;
        width: 30px;
        height: 2px;
        background-color: #070707;
        position: absolute;
    }

    #label span::before {
        content: '';
        top: -8px;
    }

    #label span::after {
        content: '';
        top: 8px;
    }

    header,
    section,
    footer,
    nav {
        padding-left: 26px;
        padding-right: 26px;
    }

    header .text {
        flex-direction: column;
        align-items: flex-start;
    }

    header .rueng {
        display: none;
    }

    header p {
        text-align: initial;
        margin-top: 23px;
    }

    header .photo {
        height: initial;
    }

    .skillslist {
        flex-direction: column;
        gap: 82px;
    }

    footer button {
        width: 100%;
    }

    /*Меню-гамбургер*/
    #check:checked~nav {
        display: flex;
    }

    #check:checked~label span{
        transform: rotate(45deg);
        background-color: #828282;
    }

    #check:checked~label span::before,
    #check:checked~label span::after{
        transform: rotate(90deg);
        background-color: #828282;
        top: 0;
    }

}